{% extends "base.html" %}
{% load static %}

{% block title %}Post page{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <a href="{% url 'accounts:profile' post.author.pk %}">
                {% if post.author.Prof_pic %}
                    <img src="{{ post.author.Prof_pic.url }}" class="prof_pic_ind float-left mr-2">
                {% else %}
                    <img src="{% static 'img/download.png' %}" class="prof_pic_ind float-left mr-2">
                {% endif %}
            </a>
    
            {% if user.pk == post.author.pk %}
                <a href="{% url 'posts:delete_post' post.pk %}" class="btn btn-sm btn-color float-right"><i class="fas fa-trash"></i> Delete Post</a>           
            {% else %}                  
            {% endif %}
            <a href="{% url 'accounts:profile' post.author.pk %}" class="link-color"><h6 class="card-title mar-card-title">{{ post.author }}</h6></a>
            <p class="card-text">{{ post.created|date:"d F Y - H:m" }}</p>
            {% if post.text %}
                <p class="card-text">{{ post.text }}</p>
            {% else %}                  
            {% endif %}
        </div>
        {% if post.image %}
            <a href="{% url 'posts:post_page' post.pk %}"><img src="{{ post.image.url }}" class="card-img-top" alt=""></a>
        {% else %}              
        {% endif %}
        <div class="card-body">
            <p class="card-text text-right">1 like &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="{% url 'posts:post_page' post.pk %}" class="link-color">{{ comment.count }} comment{{ comment|pluralize }}</a></p>
            <hr>
            <div class="row">
                <div class="col-md-6 d-flex justify-content-center"></div>
                <div class="col-md-6 d-flex justify-content-center">
                    <form method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-lg btn-color"><i class="fas fa-thumbs-up"></i> Like</button>
                    </form>
                </div>
            </div>
            
            <hr>

            <!-- Post your comment section -->
            <a href="{% url 'accounts:profile' user.pk %}">
                {% if user.Prof_pic %}
                    <img src="{{ user.Prof_pic.url }}" class="prof_pic_ind float-left mr-2">
                {% else %}
                    <img src="{% static 'img/download.png' %}" class="prof_pic_ind float-left mr-2">
                {% endif %}
            </a>
            <a href="{% url 'accounts:profile' user.pk %}" class="link-color">
                <h6 class="card-title mar-card-title">{{ user }}</h6>
            </a>
            <p class="card-text">Leave your comment</p>
            <form method="POST">
                <div class="form-group">
                    {% csrf_token %}
                    {{ form_post.text }}
                </div>
                <div class="row">
                    <div class="col-md-6 d-flex justify-content-center"></div>
                    <div class="col-md-6 d-flex justify-content-center">
                        <button type="submit" class="btn btn-color" style="margin: -10px 0px -10px 0px;"><i class="fas fa-comment-alt"></i> Comment</button>
                    </div>
                </div>
            </form>
            
            <hr>

            <!-- Comment Section -->
            {% for comments in comment  %}
                {% if comments.author.Prof_pic %}
                    <img src="{{ comments.author.Prof_pic.url }}" class="prof_pic_ind float-left mr-2">                  
                {% else %}
                    <img src="{% static 'img/download.png' %}" class="prof_pic_ind float-left mr-2">
                {% endif %}                
                {% if user.pk == comments.author.pk %}
                    <a href="{% url 'posts:delete_comment' comments.pk %}" class="btn btn-sm btn-color float-right"><i class="fas fa-trash"></i> Delete Comment</a>              
                {% else %}              
                {% endif %}             
                <a href="{% url 'accounts:profile' comments.author.pk %}" class="link-color"><h6 class="card-title mar-card-title">{{ comments.author }}</h6></a>
                <p class="card-text">{{ comments.created|date:"d F Y - H:m" }}</p>
                <p class="card-text ml-5 mb-4 comment-p">{{ comments.text }}</p>
                <hr>
            {% endfor %}
        </div>
    </div>

    <br>
{% endblock %}