{% extends "base.html" %}
{% load static %}

{% block title %}Post page{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <img src="{% static 'img/download.png' %}" class="prof_pic_ind float-left mr-2">
            <button type="submit" class="btn btn-sm btn-color float-right"><i class="fas fa-trash"></i> Delete Post</button>
            <a href="#" class="link-color"><h6 class="card-title mar-card-title">Profile01</h6></a>
            <p class="card-text">2h</p>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <img src="https://dummyimage.com/600x400/707070/ffffff&text=image+cover" class="card-img-top" alt="">
        <div class="card-body">
            <p class="card-text text-right">1 like &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="" class="link-color">5 comments</a></p>
            <hr>
            <div class="row">
                <div class="col-md-6 d-flex justify-content-center"></div>
                <div class="col-md-6 d-flex justify-content-center">
                    <button type="submit" class="btn btn-lg btn-color"><i class="fas fa-thumbs-up"></i> Like</button>
                </div>
            </div>
            
            <hr>

            <!-- Post your comment section -->
            <img src="{% static 'img/download.png' %}" class="prof_pic_ind float-left mr-2">
            <a href="#" class="link-color"><h6 class="card-title mar-card-title">Profile01</h6></a>
            <p class="card-text">Leave your comment</p>
            <form>
                <div class="form-group">
                    <textarea class="form-control form-edit mb-3" cols="30" rows="3"></textarea>
                </div>
                <div class="row">
                    <div class="col-md-6 d-flex justify-content-center"></div>
                    <div class="col-md-6 d-flex justify-content-center">
                        <button type="submit" class="btn btn-color" style="margin: -10px 0px -10px 0px;"><i class="fas fa-comment-alt"></i> Comment</button>
                    </div>
                </div>
            </form>
            
            <hr>

            <!-- Comment Section -->
            <img src="{% static 'img/download.png' %}" class="prof_pic_ind float-left mr-2">
            <button type="submit" class="btn btn-sm btn-color float-right"><i class="fas fa-trash"></i> Delete Comment</button>
            <a href="#" class="link-color"><h6 class="card-title mar-card-title">Profile02</h6></a>
            <p class="card-text">2h</p>
            <p class="card-text ml-5 mb-4 comment-p">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem fugiat molestiae facere dicta vitae rem ab eveniet. Ad, dolorum hic. Porro mollitia nisi enim necessitatibus dolor culpa adipisci! Possimus fuga minus voluptates temporibus. Ducimus, repudiandae!</p>
        </div>
    </div>

    <br>
{% endblock %}