{% extends "base_profile.html" %}
{% load static %}

{% block title %}New Photo{% endblock %}

{% block content %}
    <div class="row d-flex justify-content-center">
        <div class="col-md-9">
            <div class="card text-white bg-secondary mb-3">
                <div class="card-header">
                    Add New Photo
                </div>
                <div class="card-body profiles-card">
                    <form>
                        <div class="form-group">
                            <textarea class="form-control form-edit mb-3" cols="30" rows="3"></textarea>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6 d-flex justify-content-center"></div>
                            <div class="col-md-6 d-flex justify-content-center">
                                <button type="submit" class="btn btn-lg btn-color" style="margin: -10px 0px -10px 0px;"><i class="fas fa-share"></i> Post Photo</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}