{% extends "base_profile.html" %}
{% load static %}

{% block title %}Profile page{% endblock %}

{% block content %}
    <div class="row d-flex justify-content-center">
        <div class="col-md-1"></div>
        <div class="col-md-9">
            <div class="card mb-3">
                <div class="wrapper">
                    {% if one_user.cover_image %}
                        <img src="{{ one_user.cover_image.url }}" class="card-img-top round-top-img">
                    {% else %}
                        <img src="https://dummyimage.com/600x400/707070/ffffff&text=image+cover" class="card-img-top round-top-img">
                    {% endif %}
                </div>
                <div class="card-body title-name">
                    <a href="{% url 'accounts:profile' one_user.pk %}">
                        {% if one_user.Prof_pic %}
                            <img src="{{ one_user.Prof_pic.url }}" class="prof_main_pic_card float-left mr-2 ml-3 mb-2">
                        {% else %}
                            <img src="{% static 'img/download.png' %}" class="prof_main_pic_card float-left mr-2 ml-3 mb-2">                              
                        {% endif %}
                    </a>
                    <a href="{% url 'accounts:profile' one_user.pk %}" class="link-color float-left"><h5 class="card-title mt-3">{{ one_user.first_name }} {{ one_user.last_name }}</h5></a>
                    <a href="{% url 'accounts:photos' one_user.pk %}" class="link-color float-right"><h5 class="card-title mr-4 mt-3"><i class="fas fa-images"></i> Photos</h5></a>
                    <div class="vl float-right mr-4"></div>
                    <a href="{% url 'accounts:about' one_user.pk %}" class="link-color float-right"><h5 class="card-title mr-4 mt-3"><i class="fas fa-user"></i> About</h5></a>
                    <div class="vl float-right mr-4"></div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-md-9">
            <div class="card text-white bg-secondary mb-3">
                <div class="card-header">
                    Photos
                    {% if one_user.pk == user.pk %}
                        <a href="{% url 'accounts:add-photos' one_user.pk %}" class="link-color-w float-right"><i class="fas fa-images"></i> New Photos</a>
                    {% else %}                      
                    {% endif %}
                </div>
                <div class="card-body profiles-card">
                    <div class="row">
                        {% if one_user.album_photos %}
                            <!-- For Loop to create the gallery -->
                                <div class="col-md-3">
                                    <div class="wrapper-img-album">
                                        <img src="{{ one_user.album_photos.url }}" class="img-photos">
                                    </div>
                                </div>

                        {% else %}
                        <div class="col-md-3">
                            <div class="wrapper-img-album">
                                <img src="https://dummyimage.com/400x400/8f8f8f/ffffff&text=image" class="img-photos">
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}