{% extends "base_profile.html" %}
{% load static %}

{% block title %}Profile page{% endblock %}

{% block content %}
    <div class="row d-flex justify-content-center">
        <div class="col-md-9">
            <div class="card text-white bg-secondary mb-3">
                <div class="card-header">
                    Photos
                    <a href="#" class="link-color-w float-right"><i class="fas fa-images"></i> New Photos</a>
                </div>
                <div class="card-body profiles-card">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="https://dummyimage.com/400x400/8f8f8f/ffffff&text=image" class="img-photos">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}