{% extends "base_profile.html" %}
{% load static %}

{% block title %}Profile page{% endblock %}



{% block content %}
    <div class="row d-flex justify-content-center">
        <div class="col-md-1"></div>
        <div class="col-md-9">
            <div class="card mb-3">
                <div class="wrapper">
                    {% if one_user.cover_image %}
                        <img src="{{ one_user.cover_image.url }}" class="card-img-top round-top-img">
                    {% else %}
                        <img src="https://dummyimage.com/600x400/707070/ffffff&text=image+cover" class="card-img-top round-top-img">
                    {% endif %}
                </div>
                <div class="card-body title-name">
                    <a href="{% url 'accounts:profile' one_user.pk %}">
                        {% if one_user.Prof_pic %}
                            <img src="{{ one_user.Prof_pic.url }}" class="prof_main_pic_card float-left mr-2 ml-3 mb-2">
                        {% else %}
                            <img src="{% static 'img/download.png' %}" class="prof_main_pic_card float-left mr-2 ml-3 mb-2">                              
                        {% endif %}
                    </a>
                    <a href="{% url 'accounts:profile' one_user.pk %}" class="link-color float-left"><h5 class="card-title mt-3">{{ one_user.first_name }} {{ one_user.last_name }}</h5></a>
                    <a href="{% url 'accounts:photos' one_user.pk %}" class="link-color float-right"><h5 class="card-title mr-4 mt-3"><i class="fas fa-images"></i> Photos</h5></a>
                    <div class="vl float-right mr-4"></div>
                    <a href="{% url 'accounts:about' one_user.pk %}" class="link-color float-right"><h5 class="card-title mr-4 mt-3"><i class="fas fa-user"></i> About</h5></a>
                    <div class="vl float-right mr-4"></div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-md-1"></div>

        <!-- About left side card -->
        <div class="col-md-3">
            <div class="card text-white bg-secondary mb-3">
                <div class="card-header">About</div>
                <div class="card-body profiles-card">
                    <p class="card-text">{{ one_user.description}}</p>
                    <hr>
                    <p class="card-text">
                        Works out at <a href="https://bluefit.com.br/" target="_blank" class="link-color">{{ one_user.works_out }}</a> <br>
                        Last gym at <a href="https://www.smartfit.com.br/" target="_blank" class="link-color">{{ one_user.last_gym }}</a>
                    </p>
                    <p class="card-text">
                        Lives in <a href="http://www.capital.sp.gov.br/" target="_blank" class="link-color">{{ one_user.city }}</a> <br>
                        Born in <a href="http://www.conchal.sp.gov.br/source/index.jsp" target="_blank" class="link-color">{{ one_user.hometown }}</a> <br><br>
                        <i class="fas fa-birthday-cake"></i> {{ one_user.birth_date|date:"d F Y" }}
                    </p>
                    <hr>
                        {% if user.pk == one_user.pk %}
                            <a href="{% url 'accounts:my_account' user.pk %}" class="btn btn-color"><i class="fas fa-user"></i> Edit My Profile</a>
                        {% else %}
                            <p class="card-text link-color">This is {{ one_user.first_name }}'s profile</p>
                        {% endif %}
                    <hr>
                    <div class="footer-copyright">©2019 - MAROMBAS <br>
                        <a href="https://www.djangoproject.com/" target="_blank" class="link-color"> Powered by Django 2.x</a>
                    </div>
                </div>
            </div>
        </div>

  
        
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    {% if user.pk == one_user.pk %}
                        <div class="card text-white bg-secondary">
                            <div class="card-header">Write Something!</div>
                            <div class="card-body profiles-card">
                                <!-- Form to share a text or photos -->
                                <form method="POST" enctype="multipart/form-data">
                                    <div class="form-group">
                                        {% csrf_token %}
                                        {{ form_post.text }}
                                        <div class="input-group">
                                            <div class="custom-file">
                                                {{ form_post.image }}
                                                <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-6 d-flex justify-content-center"></div>
                                        <div class="col-md-6 d-flex justify-content-center">
                                            <button type="submit" class="btn btn-lg btn-color" style="margin: -10px 0px -10px 0px;"><i class="fas fa-share"></i> Share</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <br>
                    {% else %}                        
                    {% endif %}
                    
                    
                    <!-- Post card itself -->
                    {% if post %}
                        {% for posts in post %}
                            <div class="card">
                                <div class="card-body">
                                    {% if posts.author.Prof_pic %}
                                        <img src="{{ posts.author.Prof_pic.url }}" class="prof_pic_ind float-left mr-2">
                                    {% else %}
                                        <img src="{% static 'img/download.png' %}" class="prof_pic_ind float-left mr-2">
                                    {% endif %}
                            
                                    {% if user.pk == posts.author.pk %}
                                        <a href="{% url 'accounts:delete_post_prof' posts.pk %}" class="btn btn-sm btn-color float-right"><i class="fas fa-trash"></i> Delete Post</a>           
                                    {% else %}                  
                                    {% endif %}
                                    <a href="{% url 'accounts:profile' posts.author.pk %}" class="link-color"><h6 class="card-title mar-card-title">{{ posts.author }}</h6></a>
                                    <p class="card-text">{{ posts.created|date:"d F Y - H:m" }}</p>
                                    {% if posts.text %}
                                        <p class="card-text">{{ posts.text }}</p>
                                    {% else %}                  
                                    {% endif %}
                                </div>
                                {% if posts.image %}
                                    <a href="{% url 'posts:post_page' posts.pk %}"><img src="{{ posts.image.url }}" class="card-img-top" alt=""></a>
                                {% else %}              
                                {% endif %}
                                <div class="card-body">
                                    <p class="card-text text-right">
                                        1 like &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                                        <a href="{% url 'posts:post_page' posts.pk %}" class="link-color">
                                            {{ posts.comment_set.count }} comment{{ posts.comment_set.count|pluralize }}
                                        </a>
                                    </p>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-6 d-flex justify-content-center">
                                            <form method="POST">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-lg btn-color"><i class="fas fa-thumbs-up"></i> Like</button>
                                            </form>
                                        </div>
                                        <div class="col-md-6 d-flex justify-content-center">
                                            <a href="{% url 'posts:post_page' posts.pk %}" class="btn btn-lg btn-color"><i class="fas fa-comment-alt"></i> Comment</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <br>
                        {% endfor %}
                    {% else %}
                        {% if one_user.pk != user.pk %}
                            <div class="row d-flex justify-content-center">
                                <div class="col-md-12">
                                    <div class="card text-white bg-secondary mb-3">
                                        <div class="card-header">
                                            Posts
                                        </div>
                                        <div class="card-body profiles-card">
                                            <h5 class="h5-gray mb-3 text-center">{{ one_user.first_name }} {{ one_user.last_name}} didn't post anything yet!</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p></p>                          
                        {% endif %}
                    {% endif %}
                    
                    
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
{% endblock %}
