<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="{% url 'index' %}">MAROMBAS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item normal-li">
                            <a href="{% url 'accounts:profile' user.pk %}" class="nav-link">
                                {% if user.Prof_pic %}
                                    <img src="{{ user.Prof_pic.url }}" class="prof_pic d-inline-block align-top mr-1">{{ user }}
                                {% else %}
                                    <img src="{% static 'img/download.png' %}" class="prof_pic d-inline-block align-top mr-1">{{ user }}
                                {% endif %}
                            </a>
                        </li>
                        <li class="nav-item normal-li">
                            <span class="nav-link">|</span>
                        </li>
                        <li class="nav-item normal-li">
                            <a href="{% url 'accounts:my_account' user.pk %}" class="nav-link">My Account</a>
                        </li>
                        <li class="nav-item normal-li">
                            <a href="{% url 'logout' %}" class="nav-link">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <p id="margin-p"></p>

        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <!-- User profile card -->
                    <div class="card card-edit">
                        <div class="wrapper-base">
                            {% if user.cover_image %}
                                <img src="{{ user.cover_image.url }}" class="card-img-top card-round-top" style="height: 120px; object-fit: cover" alt="Cover Image">
                            {% else %}
                                <img src="https://dummyimage.com/600x400/707070/ffffff&text=image+cover" class="card-img-top card-round-top" style="height: 120px; object-fit: cover" alt="Cover Image">
                            {% endif %}
                        </div>
                        <div class="card-body card-body-edit">
                            <a href="{% url 'accounts:profile' user.pk %}">
                                {% if user.Prof_pic %}
                                    <img src="{{ user.Prof_pic.url }}" class="prof_pic_card float-left mr-2">  
                                {% else %}
                                    <img src="{% static 'img/download.png' %}" class="prof_pic_card float-left mr-2">                              
                                {% endif %}
                            </a>
                            <a href="{% url 'accounts:profile' user.pk %}" class="link-color"><h6 class="card-title">{{ user }}</h6></a>

                            {% if user.description_card %}
                                <p class="card-text">{{ user.description_card }}</p>                                
                            {% else %}
                                <hr class="mt-5"><a href="#" class="btn btn-sm btn-color"><i class="fas fa-user"></i> Edit My Description</a>
                            {% endif %}

                            {% if user.city %}
                                <p class="card-text">Works out at <a href="https://bluefit.com.br/" target="_blank" class="link-color">{{ user.works_out }}</a></p>
                                <p class="card-text">Lives in <a href="http://www.capital.sp.gov.br/" target="_blank" class="link-color">{{ user.city }}</a></p>  
                            {% else %}
                                <hr class="mt-4"><a href="#" class="btn btn-sm btn-color"><i class="fas fa-user"></i> Edit Your City</a>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Go to index page -->
                            {% block content %}                              
                            {% endblock %}
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <!-- All users profiles -->
                    <div class="card card-edit text-white bg-secondary mb-3" style="max-width: 18rem;">
                        <div class="card-header">People of MAROMBAS</div>
                        <div class="card-body profiles-card">
                            {% for users in user_list %}
                                <a href="{% url 'accounts:profile' users.pk %}">
                                    {% if users.Prof_pic %}
                                        <img src="{{ users.Prof_pic.url }}" class="prof_pic float-left mr-2">
                                    {% else %}
                                        <img src="{% static 'img/download.png' %}" class="prof_pic float-left mr-2">
                                    {% endif %}
                                </a>
                                <a href="{% url 'accounts:profile' users.pk %}" class="link-color"><h6 class="card-title mar-card-title mb-4">{{ users.first_name }} {{ users.last_name }}</h6></a>
                                <hr>
                            {% endfor %}
                            <div class="footer-copyright">©2019 - MAROMBAS <br>
                                <a href="https://www.djangoproject.com/" target="_blank" class="link-color"> Powered by Django 2.x</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Style JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>