<!DOCTYPE html>

{% load static %}
{% load bootstrap %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/login_style.css' %}">
        <title>Register</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="{% url 'index' %}">MAROMBAS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <img src="{% static 'img/SJ-background.jpg' %}" class="img-edit float-left">
                </div>
                <div class="col-md-6">
                    <div class="bg-color">
                        <div class="register">
                            <h1 class="h-text">CREATE YOUR ACCOUNT</h1>
                            <h5 class="h-text">Join the MAROMBAS</h5>
                            <br>
                            <hr class="h-text">
                            <br>
                            <form method="POST">
                                {% csrf_token %}
                                {{ form|bootstrap }}
                                <p></p>
                                <p class="p-text">By Join you agree to our terms of use and policy agreements.</p>
                                <br>
                                <button type="submit" class="btn btn-secondary pr-5 pl-5 float-right">Sign Up</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-copyright text-center py-3">©2019 - MAROMBAS --
            <a href="https://www.djangoproject.com/" target="_blank"> Powered by Django 2.x</a>
        </div>

        <!-- Style JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>